.block1
{
    background-color: blue;
    float: left;
    height: 200px;
    width: 200px;
    margin: 10px;
}

body
{
    background-color: rgb(170, 4, 4);

}

.block2
{
    margin-right: 20px;
    height: 200px;
    width: 150px;

    background-color: green;
    float: right;
}


.block3
{
    margin-left: 20px;
    height: 180px;
    width: 150px;

    background-color: orangered;
    clear:both;
}